* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

header {
    color: white;
    background-color: #333333;
    height: 80px;
    padding-top: 20px;
    padding-left: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header ul {
    float: right;
    margin: 30px;
    margin-top: -48px;
}

header li {
    font-size: 18px;
    font-weight:400;
    display:inline;
    margin: 5px 12px;
}

header li:hover {
    background-color: #444444;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

section.vp {
    background-image: url(./frame.jpg);
    background-size: cover;
    width: auto;
    height: 900px;
}
div.vp-content {
    
}
h1.category {
    padding-top: 10%;
    font-size: 30px;
    max-width: 400px;
    
    text-align: center;
    color: white;
    display: inline-block;
}
div.category {
    text-align: center;
}
p.category {
    text-align: center;
    max-width: 500px;
    
}