@media (min-width: 821px) and (max-width: 1180px) {
    .show-case {
        
        background-color: green;
        
    }
  }
  
  @media (min-width: 668px) and (max-width: 820px) {
    .show-case {
        
        background-color: blue;
        
    }
  }
  
  @media (min-width: 376px) and (max-width: 667px) {
    .show-case {
        display: flex;
        flex-direction: column;
        background-color: aqua;
        
    }
    #section-content, .section-content {
        display: flex;
        flex-direction: column;
    }
    
  }
  
  @media (max-width: 375px) {
    .show-case {
        
        background-color: yellow;
        
    }
    

    

  

    
}