
@media (min-width: 800px) and (max-width: 1000px) {
    .offer ul {
        display: flex;
        flex-wrap: wrap;
        
        
    }
}
/* MAIN section */
header {
    flex-direction: column;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: unset;
}
header ul {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid antiquewhite;
}
header ul li {
    padding: 1rem;
    font-size: 2rem;
}
.content {
    flex-direction: column;
    width: unset;
}
.content h1 {
    font-size: 2rem;
    padding: 1rem;
}
.content p {
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
/* OFFERs section */
#offers {
    padding: 5rem 1rem;
    
}
.offer h2 {
    font-size: 1.8rem;
}
.offer-container p{
    font-size: 1rem;
}
.offer ul {
    flex-direction: column;
}

/* CREW sction */
.team {
    flex-direction: column-reverse;
    background-color: #eeee;
}
.team img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
.moto {
    padding: 5rem 2rem;
}
.moto h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    
}
.moto p {
    line-height: 1.8rem;
}
/* TESTIMONIAL section */
#testimonial {
    padding-left: 1rem;
    padding-right: 1rem;
}
.testi-content {
    flex-flow: row wrap;
    text-align: center;
    
}
.testi-content img {
    height: 8vh;
}
.testi-p {
    padding-bottom: 2rem;
}


/* CONTACT section */
#contact {
    padding: 6rem 1rem;
    flex-direction: column;
    height: unset;
}
.form {
    width: auto;
}
.form p {
    font-size: 2rem;
}
button {
    margin-top: 4vh;
    max-width: 170px;
    font-size: 18px;
    padding: 1rem;
    border-radius: 1.3rem;
}
/* FOOTER */
footer p {
    font-size: unset;
}
