* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Long Cang', cursive;
    font-family: 'Montserrat', sans-serif;
}
/* HEADER-MAIN section */
section.header-main {
    background-image: url(../images/montreal.jpg);
    color: antiquewhite;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
header {
    display: flex;
    
    flex-flow: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid antiquewhite;
    padding: 2rem;
}
h2 i {
    font-size: 32px;
    color: #ffdc35;
    padding-right: .7rem;
}
header h2 {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    font-family: Long Cang;
    font-size: 4rem;
}
header ul {
    display: flex;
    list-style: none;
    font-size: 22px;
    margin-top: 1.2rem;
}
header a {
    text-decoration: none;
    color: antiquewhite;
    margin: 1rem;
}
header a:hover {
    color: #ffdc35;
}
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content {
    max-width: 68rem;
    
    text-align: center;
    
}
.content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
span.note {
    font-weight: 300;
    color: #ffdc35;
}
.content p {
    font-size: 2rem;
}

/* OFFER section*/
#offers {
    display: flex;
    
    background-color: #eeee;
    flex-flow: nowrap row;
    justify-content: center;
    padding: 20rem;
}
.offer {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px;
    
    
}
.offer h2 {
    margin-bottom: 5vh;
    font-size: 3rem;
    font-weight: 300;
}
.offer ul {
    display: flex;
    
    
}
/* .offer ul li {
   padding: 2rem;
   list-style: none;
} */
/* .offer ul li img {
    max-width: 20vw;
    height: auto;
    
} */
.offer ul li {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: solid lightslategray 1px;
    background-color: #ffff;
}
.offer-img img {
    width: 100%;
    
    /* max-width: 20vw;
    height: auto; */
}
.offer-container {
    background-color: #ffff;
    padding: 3rem;
    line-height: 3rem;
    
}


/* .offer-container {
    max-width: 20vw;
    max-height: 24vh;
    padding: 2rem;
    line-height: 2.2rem;
    background-color: #ffff;
    margin-top: -.2rem;
} */
.offer-container p {
    text-align: center;
    font-size: 1.5rem;
}
.offer-line {
    border-bottom: solid 0.2rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* CREW section */
#crew {
    display: flex;
    /* justify-content: space-between; */
    /* flex-flow: row nowrap; */
    flex-direction: row;
    /* align-items: stretch; */
    color: #ffff;
    background-color: #eeee;
    
}
.team {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.team img {
    width: 100%;
   
    margin-bottom: -.4%;
    
    
   
}
.moto {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
}
.moto h2 {
    font-size: 2rem;
}

/* TESTIMONIAL section */
#testimonial {
    display: flex;
    padding: 5rem;
    justify-content: center;
    background-color: #eeee;
}
.testi-container {
    max-width: 950px;
    
}
.testi-content {
    display: flex;
    flex-flow: row nowrap;
    
    border-radius: 0.3rem; 
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #ffff;
    
    
}
.testi-container h2 {
    font-weight: 300;
    font-size: 2.2rem;
    padding-bottom: 6%;
}
.testi-p p {
    font-size: 1.2rem;
}
.person {
    flex: auto; 
}
.testi-content img {
    border-radius: 50%;
    height: 5vh;
}
h3 {
    font-style: italic;
    font-weight: 300;
}
.testi-content.reverse {
    flex-direction: row-reverse;
    flex: auto;
}

/* CONTACT section */
#contact {
    display: flex;
    justify-content: center;
    padding: 5rem;
    height: 80vh;
    background-color: #333333;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 950px;
    text-align: left;
    
}
.form p {
    font-size: 3rem;
    color: #ffff;
}
.form input, textarea {
    background-color: #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: .8rem;
}
button {
    display: block;
    border: none;
    text-align: center;
    padding: 1.8rem;
    max-width: 250px;
    color: #ffff;
    background-color: #ffdc35;
    font-size: 1.8rem;
    font-weight: bold ;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 1.7rem;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}
button:hover {
    background-color: red;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #444;
    height: 15vh;
}
footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    font-size: 1.4rem;
}