
@media (min-width: 370px) and (max-width: 800px) {
    /* OFFER section*/
    #offers {
        display: flex;
        height: 80vh;
        background-color: #eeee;
        flex-flow: wrap row;
        justify-content: center;
    }
    #crew {
        flex-direction: column;
    }
    .team {
        flex-grow: unset;
        flex-shrink: unset;
        flex-basis: unset;
    }
    .moto {
        
        flex-grow: unset;
        flex-shrink: unset;
        flex-basis: unset;
      
    }













}



@media (min-width: 801px) {
    body {
      background: orange;
    }














}