* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Long Cang', cursive;
    font-family: 'Montserrat', sans-serif;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
/* HEADER-MAIN section */
#header-main {
    background-image: url(../images/montreal.jpg);
    background-color: #eeee;
    color: antiquewhite;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid antiquewhite;
    padding: 2rem;
}
h2 i {
    font-size: 32px;
    color: #ffdc35;
    padding-right: .7rem;
}
header h2 {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    font-family: Long Cang;
    font-size: 4rem;
}
header ul {
    display: flex;
    list-style: none;
    font-size: 22px;
    margin-top: 1.2rem;
}
header a {
    color: antiquewhite;
    margin: 1rem;
}
header a:hover {
    color: #ffdc35;
}
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    max-width: 68rem;
    text-align: center;
}
.content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
span.note {
    font-weight: 300;
    color: #ffdc35;
}
.content p {
    font-size: 2rem;
}

/* OFFER section*/
#offers {
    display: flex;
    justify-content: center;
    background-color: #eeee;
    padding: 15rem 2rem 15rem 2rem;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
}
.offer h2 {
    margin-bottom: 5vh;
    font-size: 3rem;
    font-weight: 300;
}
.offer ul {
    display: flex;
}
.offer ul li {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: solid lightgrey 1px;
    background-color: #ffff;
}
.offer-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.offer-container {
    background-color: #ffff;
    padding: 2rem 0rem 2rem 0rem;
    line-height: 3rem;
}
.offer-container p {
    text-align: center;
    font-size: 1.5rem;
}
.offer-line {
    border-bottom: solid 0.2rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* CREW section */
#crew {
    display: block;
    color: #ffff;
    background-color: #eeee;
    width: 100%;
}
.team {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.team img {
    width: 40%;
    height: auto;
    object-fit: cover;
}
.moto {
    display: flex;
    flex-grow: 1;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
}
.moto h2 {
    font-size: 2rem;
    padding-bottom: 4rem;
}
.moto p {
    font-size: 1.3rem;
    line-height: 2rem;
}


/* TESTIMONIAL section */
#testimonial {
    display: flex;
    padding: 5rem;
    justify-content: center;
    background-color: #eeee;
}
.testi-container {
    max-width: 950px;
}
.testi-content {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0.3rem; 
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #ffff;
}
.testi-container h2 {
    font-weight: 300;
    font-size: 2.2rem;
    padding-bottom: 6%;
}
.testi-p p {
    font-size: 1.2rem;
    padding: 0rem 2rem 0rem 2rem;
}
.person {
    flex: auto; 
}
.testi-content img {
    border-radius: 50%;
    height: 5vh;
}
h3 {
    font-style: italic;
    font-weight: 300;
}
.testi-content.reverse {
    flex-direction: row-reverse;
    flex: auto;
}
p.name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .4rem;
}
/* CONTACT section */
#contact {
    display: flex;
    justify-content: center;
    padding: 15rem 2rem 15rem 2rem;
    background-color: #333333;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    outline: 0;
}
.form p {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ffff;
}
.form input, textarea {
    background-color: #333333;
    color: #ffff;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: .8rem;
    outline: 0;
}
textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a button {
    display: block;
    border: none;
    padding: 1.5rem;
    color: #ffff;
    background-color: #ffdc35;
    font-size: 1.8rem;
    font-weight: bold ;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}
button:hover {
    background-color: red;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #444;
    height: 10vh;
}
footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    font-size: 1.4rem;
}