.blueTable {
    border: 2px solid black;
}
.blueTable thead {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: blue;
    color:aliceblue
}
.blueTable tbody td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

