.blueTable {
    border: 2px solid black;
}
.blueTable thead {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: mediumblue;
    color:aliceblue;
}
.blueTable tbody td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
div.links {
    border-top: 2px gray;
    text-align: right;
    border: 1px black;
    background-color: lightblue;
    border-radius: 3px;

    
}
div a {
    border-radius: 3px;
    background-color: mediumblue;
    color: white;
}